.taskcard {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 3%;
  margin: 5%;
  text-align: left;
  border-radius: 20px;

}

.cardBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  width:fit-content
}